<!DOCTYPE html>
<html>
<head>
    <title>AngularJS知识分享</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <meta name="description" content="AngularJS知识分享"/>
    <meta name="keywords" content="angular, AngularJS, AngularJS知识分享"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="bower_components/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--解决ie8 console 未定义的代码-->
    <script type="text/javascript">

        if (!window.console || !console.firebug) {
            var names = ["log", "debug", "info", "warn", "error", "assert", "dir", "dirxml", "group", "groupEnd", "time", "timeEnd", "count", "trace", "profile", "profileEnd"];

            window.console = {};
            for (var i = 0; i < names.length; ++i)
                window.console[names[i]] = function () {
                }
        }
    </script>
</head>
<body ng-controller="appCtrl">
<!-- Modal -->
<div class="modal fade"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: #f1eeee;font-size: 20px">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 ng-if="!readyLoad" class="modal-title" ng-bind="modalData.title"></h4>
            </div>
            <div class="modal-body" style="text-indent: 25px;">
                <div style="width: 100%;height: 100px;text-align: center" ng-if="readyLoad">
                    <img style="text-align: center" src="images/ajax-loader.gif" alt=""/>
                </div>
                <div ng-if="!readyLoad">
                    <p  ng-repeat="md in modalData.content" ng-bind="md.data"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="img_container" class="img_container">
    <div class="img_wrap" ui-view></div>
    <div class="pxs_navigation">
        <span class="pxs_next" ng-click="changePage('next')"></span>
        <span class="pxs_prev" ng-click="changePage('prev')"></span>
    </div>
    <div class="pxs_loading">Loading imagesnn...</div>
    <ul class="thumbnails">
        <li ng-click="isClick='/page1'"
            ng-class="{selected:'/page1'==isClick}">
            <a ui-sref="page1">
                <img src="images/thumbs/main.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page2'"
            ng-class="{selected:'/page2'==isClick}">
            <a ui-sref="page2">
                <img src="images/thumbs/page2.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page3'"
            ng-class="{selected:'/page3'==isClick}">
            <a ui-sref="page3">
                <img src="images/thumbs/page3.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page4'"
            ng-class="{selected:'/page4'==isClick}">
            <a ui-sref="page4">
                <img src="images/thumbs/page4.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page5'"
            ng-class="{selected:'/page5'==isClick}">
            <a ui-sref="page5">
                <img src="images/thumbs/page5.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page6'"
            ng-class="{selected:'/page6'==isClick}">
            <a ui-sref="page6">
                <img src="images/thumbs/page6.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page7'"
            ng-class="{selected:'/page7'==isClick}">
            <a ui-sref="page7">
                <img src="images/thumbs/page7.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page8'"
            ng-class="{selected:'/page8'==isClick}">
            <a ui-sref="page8">
                <img src="images/thumbs/page8.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page9'"
            ng-class="{selected:'/page9'==isClick}">
            <a ui-sref="page9">
                <img src="images/thumbs/page9.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page10'"
            ng-class="{selected:'/page10'==isClick}">
            <a ui-sref="page10">
                <img src="images/thumbs/page10.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page11'"
            ng-class="{selected:'/page11'==isClick}">
            <a ui-sref="page11">
                <img src="images/thumbs/page11.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page12'"
            ng-class="{selected:'/page12'==isClick}">
            <a ui-sref="page12">
                <img src="images/thumbs/page12.png" alt="1"/>
            </a>
        </li>
        <li ng-click="isClick='/page13'"
            ng-class="{selected:'/page13'==isClick}">
            <a ui-sref="page13">
                <img src="images/thumbs/page13.png" alt="1"/>
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular-loader.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/html5shiv.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/respond.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/es5-sham.min.js"></script>
<![endif]-->
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
    $(function () {
        var $img_container = $('#img_container');
        $img_container.parallaxSlider();
    });
</script>
</body>
</html>
